body{background-color: black;}
h1{text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: blue;}
p{color: antiquewhite;
font-size: medium;}
.linha1{display: flex;
    margin-top: 100px;}
.linha2{display: flex;
    margin-top: 50px;}
.linha3{display: flex;
    margin-top: 50px;}
.h1{margin-left: 350px;}
.l1{margin-left: 430px;}

.h2{margin-left: 550px;}
.l2{margin-left: 50px;}

.h3{margin-left: 350px;}
.l3{margin-left: 430px;}