body{background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

#oi{background-color: darkcyan;
    height: 150px;
    color: antiquewhite;}
p{font-size: xx-large;
    text-align: center;
    color: antiquewhite;}
li{color: antiquewhite;
    text-align: center;}

.tra{color: darkcyan;
    font-size: small;}
.botao{margin-top: 10px;
    height: 50px;
    width: 90px;
    background-color: honeydew;
    margin-left: 615px;}