@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
body{padding: 0;
    margin: 0;
    background-image: url(https://images3.alphacoders.com/774/774375.jpg);
    background-position: center;
    background-size: cover;}
*{font-family: "Nunito", sans-serif;
    font-weight: 700;}

section, header{justify-content: center;
    align-items: center;
    text-align: center;}
section form{margin-left: 400px;
    margin-right: 400px;}

section #block{display: block;}
section input{background: #b100e8;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 7px;}
section button{border-radius: 10px;}