body{background-color: black;}
h1{color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: x-large;}
.Ano{color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: x-large;}
p{color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: small;}

li{color: antiquewhite;}
ul{color: antiquewhite;    
    border: 2px solid purple;
    width: 110px;
    margin-left: 350px;}
.Pote{color: antiquewhite;
    border: 2px solid purple;
    width: 110px;
    margin-left: 300px;}
.Cor{color: red;}
.Lado{display: flex;}
.A{display: flex;}
.SA{width: 110px;
    margin-left: 350px;}
.SB{width: 110px;
    margin-left: 350px;}
            