*{background-color: black;
    color: aqua;}
h1{color: blue;}
#tespecial{text-align: center;}
.destaque{text-align: center;
    font-weight: 800;
    background-color: blue;}
.hg{color: red;}
#oi{color: blue;}
table{background-color: black;
    width: 500px;}
td{color: aqua;}
span{font-size: large;
    color: purple;}