:root{
    --azul: #1E2772;
    --laranja: #FD7401;
    --cinza: #555555;
    --branco: #C2C2C2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
}

main{
    height: 100vh;
    width: 25vw;
    background: var(--branco);
}

section{
    height: 100vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

section img{
    height: 40vh;
    width: 30vw;
}