@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Signika+Negative:wght@300..700&display=swap');

body{padding: 0;
    margin: 0;}

#menu{background: #f21b3f;
    display: flex;
    justify-content: center;
    padding: 10px, 30px, 10px, 30px;}
#menu img, p{padding-left: 30px;
    padding-right: 30px;
    height: 20px;
    text-decoration: none;}
#menu a:hover{background: rgba(0, 0, 0, 0.6);}
#menu a{text-decoration: none;
    text-transform: uppercase;
    font-style: normal;}



h1{text-align: center;
    font-family: "Poetsen One", sans-serif;}
table{border-collapse: collapse;
    width: 900px;
    margin: 30px 0 5px 150px;}
table th, table td{border: 2px solid black;
    height: 15px;
    font-family: "Signika Negative", sans-serif;
    text-transform: capitalize;
    text-align: center;}
tr:hover{background: rgba(0, 0, 0, 0.3);}
table th{background: gray}
img{width: 30px;
    height: 30px;}
#nome{text-align: left;}

#campeao{background: #29bf12;}
#liberta{background: #abff4f;}
#pre{background: #08bdbd;}
#sula{background: #ff9914;}
#nada{background: white;}
#reba{background: #f21b3f;}