@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

body{padding: 0;
    margin: 0;}
img{height: 35px;
    width: 35px;}

#menu{background: #bad7f2;
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;}
#menu a{text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;}
#menu a:hover{background: rgba(0, 0, 0, 0.5);}

h1{text-align: center;
    font-family: "Lato", sans-serif;
    font-style: normal;}


table{border-collapse: collapse;
    width: 900px;
    margin-left: 200px;}
table th, table td{border: 3px solid black;
    height: 30px;
    align-items: center;
    text-align: center;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;}
table th{background: gray;}
table #nome{text-align: left;
    align-items: center;}
table tr:hover{background: rgba(0, 0, 0, 0.2);
    cursor: grab;}

#campeao{background:#29bf12 ;}
#liberta{background:#abff4f ;}
#pre{background:#08bdbd }
#sula{background:#ff9914 ;}
#nada{background: white;}
#reba{background:#f21b3f ;}

footer p{margin-left: 200px;
    font-family: "Freeman", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;}