*{background-color: black;
    color: antiquewhite;}

.Disciplinas{background-color: yellow;
    color:  gray;
    text-align: center;
    margin-top: 80px;
    font-weight: 100;
    font-size: medium;}

#button{margin-left: 588px;
    background-color: gray;
    color: black;}

.cabecalho{display: flex;
    padding-left:190px;}
.distancia1{padding-left: 300px;}
.distancia2{padding-left: 296px;}

table{border: 2px solid black;}
.margem{margin-left: 170px;
    margin-right: 170px;}
button{background-color: gray;
    color: black;}
.linha{background-color: antiquewhite;
    color: black;
    height: 15px;
    width: 1200px;}
.botao{background-color: antiquewhite;}
.forma1{background-color: darkslateblue;}
.forma{background-color: antiquewhite;
    color: black;
    height: 15px;
    width: 220px;}